<header role="banner">
    <div class="logo">
      <span>WYCIWYG</span>
      <small>What you code is what you get</small>
    </div>

     {# <div>
     {{ page.primary_menu }}
     </div> #}
</header>