<header role="banner">
    <a href="/">
      <div class="logo">
          <span>WYCIWYG</span>
          <small>What you code is what you get</small>
      </div>
    </a>

     {# <div>
     {{ page.primary_menu }}
     </div> #}
</header>