/**
 * @file
 * Visual styles for buttons.
 */

.button,
.image-button {
  margin-right: 1em;
  margin-left: 1em;
}
.button:first-child,
.image-button:first-child {
  margin-right: 0;
  margin-left: 0;
}

.btn {
  border: 6px solid var(--dark-gray);
  color: var(--text-color-dark);
  cursor: pointer;
  display: flex;
  font-size: var(--step-2);
  justify-content: center;
  padding: 20px 40px;
  transition: 0.5s;
  width: 100%;

  &.btn-orange {
    background-color: var(--bv-orange);
    border: 6px solid var(--bv-orange);

    &:hover,
    &:focus {
      background-color: var(--dark-gray);
      color: var(--bv-orange);
      border: 6px solid var(--bv-orange);
    }
  }

  &.btn-green {
    background-color: var(--bv-green);
    border: 6px solid var(--bv-green);

    &:hover,
    &:focus {
      background-color: var(--dark-gray);
      color: var(--bv-green);
      border: 6px solid var(--bv-green);
    }
  }

  &.btn-blue {
    background-color: var(--bv-blue);
    border: 6px solid var(--bv-blue);
    color: var(--text-color);
    &:hover,
    &:focus {
      background-color: var(--dark-gray);
      border: 6px solid var(--bv-blue);
    }
  }
}

.danger-btn {
  background-color: transparent;
  border: 2px dashed var(--bv-red);
  color: var(--bv-red);
  cursor: pointer;
  display: inline-block;
  font-size: var(--step--2);
  padding: 8px 12px;
  transition: all .2s linear;

  &:hover,
  &:focus {
    background-color: var(--bv-red);
    color: white;
    border-style: solid;
  }
}
