/**
 * @file
 * Visual styles for buttons.
 */

.button,
.image-button {
  margin-right: 1em;
  margin-left: 1em;
}
.button:first-child,
.image-button:first-child {
  margin-right: 0;
  margin-left: 0;
}

.btn {
  border: 6px solid var(--dark-gray);
  color: var(--text-color-dark);
  cursor: pointer;
  display: flex;
  font-size: var(--step-2);
  justify-content: center;
  padding: 20px 40px;
  transition: 0.5s;
  width: 100%;

  &.btn-orange {
    background-color: var(--bv-orange);
    border: 6px solid var(--bv-orange);

    &:hover,
    &:focus {
      background-color: var(--dark-gray);
      color: var(--bv-orange);
      border: 6px solid var(--bv-orange);
    }
  }

  &.btn-green {
    background-color: var(--bv-green);
    border: 6px solid var(--bv-green);

    &:hover,
    &:focus {
      background-color: var(--dark-gray);
      color: var(--bv-green);
      border: 6px solid var(--bv-green);
    }
  }

  &.btn-blue {
    background-color: var(--bv-blue);
    border: 6px solid var(--bv-blue);
    color: var(--text-color);
    &:hover,
    &:focus {
      background-color: var(--dark-gray);
      border: 6px solid var(--bv-blue);
    }
  }
}

.danger-btn {
  background-color: transparent;
  border: 2px dashed var(--bv-red);
  color: var(--bv-red);
  cursor: pointer;
  display: inline-block;
  font-size: var(--step--2);
  padding: 8px 12px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: -50px;
    width: 50px;
    height: 100%;
    z-index: -1;
  }

  &::after {
    content: "";
    background: var(--dark-gray);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
 
  &:hover,
  &:focus {
    border: none;
    padding: 12px 16px;
    &::before {
      background: linear-gradient(to right, rgba(255, 0, 0, 0) 0%, red 50%, rgba(255, 0, 0, 0) 100%);
      animation: cylon-scan 3s infinite linear;
    }
    &::after {
      top: 2px;
      bottom: 2px;
    }
  }
}

@keyframes cylon-scan {
  0% {
    left: -50px;
  }
  50% {
    left: 100%;
  }
  100% {
    left: -50px;
  }
}