header {
  padding: 20px 0;
  margin-bottom: 20px;

  .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
  }

  span {
    color: var(--bv-green);
    font-size: var(--step-5);
  }
}
