<phpunit bootstrap="web/core/tests/bootstrap.php"
         colors="true"
         stopOnFailure="false"
         displayDetailsOnTestsThatTriggerWarnings="true"
         beStrictAboutOutputDuringTests="false">
  
  <testsuites>
    <testsuite name="Unit">
      <directory>web/modules/custom/challenge/tests/src/Unit</directory>
      <directory>web/modules/custom/wyciwyg_utils/tests/src/Unit</directory>
    </testsuite>
  </testsuites>

  <php>
    <env name="SIMPLETEST_BASE_URL" value="https://wyciwyg-drupal-backend.ddev.site" />
    <env name="SIMPLETEST_DB" value="mysql://db:db@db/db" />
    <env name="BROWSERTEST_OUTPUT_DIRECTORY" value="browser" />
  </php>


</phpunit>
