.challenges {
  .header {
    margin-bottom: 20px;

    h1 {
      color: var(--bv-orange);
    }
  }

  .view-content {
    display: grid;
    gap: 40px;
    grid-template-columns: 1fr;

    @media screen and (min-width: 576px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .view-empty {
    color: var(--bv-green);
    font-size: var(--step-3);
    text-align: center;
    a {
      text-decoration: underline;

      &:hover {
        background-color: var(--bv-green-hover-bg);
      }
    }
  }
}
